.nav {
    grid-area: n ;
    background-color: #0D2620;
    margin-top: 70px;
    color: cornsilk;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.nav div  {
    margin-left: 20px;
    padding-top: 20px;
}