.postItem {
    margin-top: 65px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0D2620;
    color: cornsilk;
    width: 500px;
    padding-left: 15px;
    border-radius: 25px;
}
