.dialogs {
    color: brown;
    display: grid;
    grid-template-columns: 4fr 8fr;
   
}

.userName  {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #0D2620;
    padding: 16px;
    display: flex;
    align-items: center; 
    border: 1px solid #0D2620;
    border-radius: 15px;
    width: 300px;
    margin: 5px;
    cursor: pointer;  
}
.userName:hover {
background-color: #0D2620 ;
color: cornsilk;
}

p {
    padding-left: 15px;
}

.userDialog {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #0D2620; 
    align-items: center;
    text-align: center;
    padding: 9px;
    border: 1px solid #0D2620;
    border-radius: 15px;
    width: 600px;
    margin: 5px;
    cursor: pointer
       
}

.userImg {
width: 65px;
height: 65px;
border-radius: 50%;
}

.links {
    color: #0D2620;
    padding-left: 15px;
    text-decoration: none;
}
.links:hover{
    color: cornsilk;
}